In [ ]:
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import tree
import pandas as pd

In [ ]:
#
# Load the  dataset
#
df = pd.read_csv('InformationGainData.csv')
df.drop(['RID'],axis=1,inplace=True)
print(df)

            age  income student credit_rating Class:buys computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no
14        youth     low     yes          fair                 NaN

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['age']=le.fit_transform(df['age'])
df['income']=le.fit_transform(df['income'])
df['student']=le.fit_transform(df['student'])
df['credit_rating']=le.fit_transform(df['credit_rating'])
df['Class:buys computer']=le.fit_transform(df['Class:buys computer'])
df

    age  income  student  credit_rating  Class:buys computer
0     2       0        0              1                    0
1     2       0        0              0                    0
2     0       0        0              1                    1
3     1       2        0              1                    1
4     1       1        1              1                    1
5     1       1        1              0                    0
6     0       1        1              0                    1
7     2       2        0              1                    0
8     2       1        1              1                    1
9     1       2        1              1                    1
10    2       2        1              0                    1
11    0       2        0              0                    1
12    0       0        1              1                    1
13    1       2        0              0                    0
14    2       1        1              1                    2

In [ ]:
X = df.drop(['Class:buys computer'],axis=1)
y = df['Class:buys computer']

In [ ]:
# Split the data set into Train and Test with 20%

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
X_test

   age  income  student  credit_rating
3    1       2        0              1
7    2       2        0              1
6    0       1        1              0

In [ ]:
X_test_GV=[[1,2,0,1]]

In [ ]:
y_pred  =  classifier.predict(X_test_GV)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [ ]:
print(y_pred)

[1]

In [ ]:
y_pred  =  classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,y_pred))
tn,fp,fn,tp=confusion_matrix(y_test,y_pred).ravel()
(tn,fp,fn,tp)

ValueError: ignored

In [ ]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test,y_pred)
ac

0.6666666666666666